@use '../../styles/colors' as color;

.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 999;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.accordionHeader {
  display: flex;
  justify-content: flex-end;

  h3 {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  button {
    background: none;
    border: none;
  }

  &:hover {
    cursor: pointer;
  }

  
}

.listContainer {
  margin-top: .5rem;
  // margin-right: 2.75rem;
  transform-origin: top;

  ul {
    font-family: bdr-mono, sans-serif;
    list-style-type: none;
    margin-right: 0;
    padding-right: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }

  li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
    padding-right: 0;
    transition: color ease-out .5s;
    img {
      margin-left: 1rem;
      height: 32px;
      width: auto;
    }
  }

  ul li:not(:first-child) {
    margin-top: .5rem;
  }

  ul li:hover, button:hover {
    cursor: pointer;
    color: color.$blue;
  }

  button {
    background: none;
    border: none;
    font-family: code-saver, sans-serif;
    font-size: 1.5rem;
    color: color.$dark;
  }
}