@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as breakpoint;

.work {
  width: 100%;
  background-color: color.$green;
  text-align: right;

  .container {
    padding: 6rem 1.5rem 10rem;
    position: relative;
  }

  @include breakpoint.sm {

    .container {
      padding: 8rem 2rem 10rem;
    }
  }

  @include breakpoint.lg {

    .container {
      padding:8rem 8rem 12rem 0;
    }
  }

  @include breakpoint.xxl {

    .container {
      padding:8rem 10rem 12rem 0;
    }
  }
}

.content {
  position: relative;
  z-index: 1;
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.modalBackground {
  position: fixed;
  overflow-y: scroll;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
}

.infoContainer {
  position: relative;
  background-color: color.$pink;
  color: color.$dark;
  padding: 3rem 1.5rem 2rem;
  margin: 2rem 1.5rem;
  box-shadow: 4px 4px 6px color.$dark;

  .exitButton {
    width: 64px;
    height: 64px;
    margin: 1.5rem auto;
    background: none;
    border-radius: 64px;
    border: 1px solid color.$dark;
    box-shadow: .5px .5px 3px color.$dark;
    transition: all ease-out .5s;

    &:hover,
    &:active {
      cursor: pointer;
      box-shadow: .5px .5px 1px color.$dark;
      background: rgba(72,60,70, .1);
    }
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: lighter;
  }

  p {
    font-family: code-saver, sans-serif;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .trackList {
    display: flex;
    flex-direction: column;
  }

  h5 {
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0rem;
    margin-bottom: .5rem;
    
    svg {
      height: 18.45px;
      width: 18.45px;
      margin-top: 0.5rem;
    }

    &:hover,
    &:active {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  // @include breakpoint.md {
  //   width: 50%;
  // }

  @include breakpoint.lg {
    padding: 3rem 3rem 1.5rem;
    width: 66%;
    margin: 5rem auto;
    transform: translateY(-50%);

    a {
      font-size: 1.25rem;
    }
  }
}
